// Globals
$body-font-family: "google-sans", serif;
$border-radius-root: 6px;
$font-size-root: 16px;

@import "~vuetify/src/styles/settings/variables";

// // V-Btn
// $btn-letter-spacing: 1px;
// @import '~vuetify/src/components/VBtn/_variables';

// @import "~vuetify/src/styles/main.sass";
